:root {
  --results-columns: 1;
}

.ListOfGifs {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
  grid-gap: 0.5em;
}

.ListOfGifs-item {
 
  background-color: #eee;
  display: inline-block;
  width: 100%;
}

.button{
  font-size: medium;
    width: 10em;
    margin-top: 0.5em;
    background-color: rgb(73 73 136);
    padding: 0.5em;
    color: white;
    border: solid white 1px;
    border-radius: 1.5em;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 2;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 3;
  }
}