:root {
  --results-columns: 1;
}

.ListOfGifs {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(18rem,1fr));
  grid-gap: 0.5em;
  min-height: 100vh;
  align-items: center;

}

.ListOfGifs-item {
 
  background-color: #eee;
  display: inline-block;
  width: 100%;
}

@media (min-width: 600px) {
  :root {
    --results-columns: 2;
  }
}

@media (min-width: 800px) {
  :root {
    --results-columns: 3;
  }
}