:root {
  --background: rgb(129, 129, 191);
  --text-color: rgb(0, 0, 0);
}
.App {
  text-align: center;
}

.App-logo {
  display: flex;
  justify-content: center;
  height: 10rem;
  object-fit: contain;
}

.App-logo > img {
  cursor: pointer;
}

.App-content {
  background-color: var(--background);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  padding: 16px;
  text-align: left;
}

.wrapper-gif {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-column-gap: 1em;
}

@media (max-width: 800px) {
  .wrapper-gif {
    display: block;
  }
}
